/*
* Includes
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:300,500,600,400);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);


@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

/*
* General stylings
*/

body {
	font-family:lato;
	font-weight:300;
	color: rgb(85, 85, 85);

	margin-bottom:40px;
}

h1, h2, h3, h4 {
	font-family:raleway;
	font-weight:400;
}

.centered {
	text-align:center;
}
/*
* Navigation
*/

.navbar {
	margin-bottom:0 ;
}

.nav-inner {
	max-width:1140px;
	margin:0 auto;
}

.navbar-nav  {
	font-size:16px;
}

.navbar-brand {
	font-size:28px;
	font-weight:200;
}

header {
	margin-top:51px;
}

button {
	outline: none;
	color:#428bca;
	background: none;
	border: 1px #428bca solid;
	margin: 20px 0;
	padding: 5px 15px;
	font-family: 'Lato';
	font-size:16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 300;
	float: right;
}

/*
* Index page
*/

.front-image {
	background: url(../img/front-image.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color:#FFF;

	h1, h2 {
		margin: 0;
		padding: 0;
		font-weight: 100;
	}

	h1 {
		font-size: 62px;
	}
	
	h2{
		font-size: 20px;
		margin-top: 5px; 
	}



	.front-image-inner {
		margin-top: 150px;

		button {
			color:#FFF;
			border-color: #FFF;
			float:none;
		}
	}

}

#front-desc {
	text-align: center;
	.fa {
		font-size: 20px;
	}

	.desktop {
		margin-top: 90px;
		width: 100%;
	}

	img {
		@include transition(transform 0.1s ease-in);
		&:hover {
			@include transform(scale(1.02));
			cursor: pointer;
		}
	}
}

/*
* Footer
*/

footer {
	text-align: center;
	margin-top:40px;
	font-size:26px;
	color:#777777;
	a {
		color:#777777;
		&:hover {
			color:#333333
		}
	}

	i {
		padding:0 5px;
	}
}

/*
* Twitter stuff
*/

.twitter {
	border-top: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	text-align:center;

	 h3 {
		margin:20px 0 !important;
		font-weight: 200;
	 }
}
/*
* Extra Small devices (mobiles, 320px and up) 
*/
@media (min-width: 320px) and (max-width: 767px) {

	button {
		float:none;
	}

}

/*r
* Portfolio 
*/

.portfolio {
	//padding-top:30px;
}

.project {
	margin-top:30px;
	.anchor {
		display: block; 
		position: relative; 
		top: -70px; 
		visibility: hidden;
	}
}

/*
* Blog 
*/
.blog {
	
	.row {
		margin:20px 0;
	}

	img {
		max-width:100%;
	}
}

.blog-margin {
	margin-top:80px;
}

code {
	font-family: lato;
	font-weight:400;
}

.post {
	img {
		margin-top: 20px;
		width: 100%;
	}
}

/*
* Diss Blog
*/

.diss-blog-header {
	
	h1 {
		font-family: 'Pacifico';
		font-size:82px;
		position:relative;
		left:-70px;
	}

	h2 {
		font-family: 'HelveticaNeue-Light';
		font-size: 14px;
		position: relative;
		top: -25px;
		left: 85px;
	}

}


/*
* Mobile media queries
*/
@media (max-width: 767px) {
	.project {
		text-align: center;
		img {
			max-width: 100%;
		}
	}

	.desktop {
		margin: 30px 0 !important;
	}

	.diss-blog-header {
	
		h1 {
			font-family: 'Pacifico';
			font-size:82px;
			left:0px;
		}

		h2 {
			display: none;
		}

}
}

/*
* Small media queries
*/

@media (min-width: 768px) and (max-width: 991px) { 

	#front-desc {
		img {
			width:100%;
		}
	}

}