/*
* Mixin to add in transform support
*/

@mixin transform($input) {
	  -webkit-transform: $input;
	  -moz-transform:    $input;
	  -ms-transform:    $input;
	  -o-transform: 	$input;
	  transform:         $input;
}

/*
* Mixin in to support transitions
*/

@mixin transition($input) {
	-webkit-transition: $input;
	-moz-transition: $input;
	-o-transition: $input;
	transition: $input;
}
