---
layout: default
title: Blog
---
<!-- Content
    ================================================== -->
	<div class="container blog blog-margin">
			{% for post in site.posts %}
				{% if post.categories contains 'main' %}
					<div class="row">
						<div class="col-sm-6 centered">
							<img src="{{post.image}}">
						</div>
						<div class="col-sm-6">
							<a href="{{post.url}}"><h3>{{post.title}}</h3></a>
							<p>{{post.excerpt}}</p>
							<p>
								<form action="{{post.url}}">
									<button type="submit">Visit Post</button>
								</form>
							</p>
						</div>		
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>